.logo{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.logo_container{
  width: 35%;
  height: 100vh;
  margin-left: 32.5%;

}


.footer_logo{
  max-width: 180px;
  height:auto;
}

.social{
  max-width: 60px;
  height:60px;
  padding: 10px;
}
