@media screen and (max-width: 430px){

  .top_nav{
    display:none;
  }

  body{
    overflow-x: hidden;
  }

  .mobile_nav_list{
    position:absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $gray_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

  }

.mobile_nav_list li{
  opacity:0;
}

.burger{
  display:block;
  cursor: pointer;

}


}


.mobile_nav_menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $gray_color;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;

}

.mobile_nav_logo{
}


.mobile_nav_list{

  display: flex;
  width: 100%;
  justify-content: space-around;

}

.mobile_nav_list a{
  color: $blue_color;
  text-decoration: none;
  font-weight: bold;
}

.mobile_nav_list a:hover{
  color: $light_blue_color;
}


.mobile_nav_list li{
  list-style: none;
}



.burger div{
  width: 25px;
  height:3px;
  background-color: $light_blue_color;
  margin: 5px;
}

.top_nav-active{
  transform: translateX(0%);
}
