@media screen and (max-width: 500px){

  .top_nav{
    display: none;
    }

    .nav_line{
      width: 30px;
      height: 3px;
      background: $light_blue_color;
      margin: 5px;
    }

    .hamburger_nav{

      // position: relative;
    }

    .hamburger{
      // position: absolute;
      cursor: pointer;
      right: 5%;
      top:50%;
      transform: translate(-5%, -50%)
      // transition: transform 0.5s;
    }

    .nav_links{
      position: absolute;
      right: 0px;
      background: $light_blue_color;
      height: 92vh;
      top: 8vh;
      width: 50%;
      flex-direction: column;
      display: flex;
      align-items: center;
      transform: translate(100%);
    }

    .nav_links li{
      opacity: 0;
    }

}

.nav_active{
  transform: translate(0);
}





// .nav_links{
//
//   // display: none;
//   }

.hamburger{
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

.nav_links{
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  list-style: none;
  width:50%;
  background: $gray_color;
  height:100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav_links li a{
        color:$blue_color;
        font-weight: bold;
        text-decoration: none;
        font-size: 15px;
      }

// }
// Media query ends here


.hamburger_nav{
  height: 10vh;
  background: $light_blue_color;
}
