.header{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.subheader{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.quote{
  position: absolute;
  width: 100%;
  // height: 292px;
  // top: 959px;
  background: $gray-color;
  font-family: 'Nunito Sans', sans-serif;
}

.para{

  // width: 284px;
  // height: 294px;
  // left: 219px;
  // top: 1676px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;

}
