@import 'nav';
@import 'variables';
@import 'images';
@import 'home';
@import 'timetable';
@import 'membership';
@import 'mixin';
@import 'mobile';


*{
  margin:0;
  box-sizing: border-box;
  text-decoration: none
}
